@keyframes cursor {

    50% { border-right: 4px solid white };

}

@keyframes typing {
    
    0% {width: 0}
    5% {width: 0}
    20% {width: 100%}
    80% {width: 100%}
    95% {width: 0}
    100% {width: 0}

}

@keyframes fade-right {
    
    from { width: 0}

}

.alias-heading-container {

    display: inline-block;
    align-self: flex-start;
    text-wrap: nowrap;

}

.alias-heading {

    font-family: monospace, 'Barriecito', 'Poppins', sans-serif;
    display: inline-block;
    width: 100%;
    height: var(--text-paragraph);
    overflow: hidden;
    border-right: 4px solid black;
    animation: 
        cursor 0.4s infinite;

}