/* ==================== GLOBAL STYLES ==================== */

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    color: var(--color-primary);
    background-color: var(--color-black);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 10rem;
    max-width: 1800px;
    width: 90%;
    margin: 5% auto;
}

/* ==================== COMPONENTS ==================== */



/* ==================== SECTIONS ==================== */

header, main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/* ---------- Navigation ---------- */

.logo-name-heading {
    width: 300px;
    font-size: var(--text-h3);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
    border: 2px solid var(--color-white);
    padding: 3rem;
}

.nav-links-container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.nav-link {
    font-size: var(--text-base);
    border: 2px solid var(--color-white);
    border-radius: 1.5rem;
    padding: 0.7rem;
}